<!doctype html>
<html lang="en">
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
         
        {{{body}}}
          <footer>
            <img src='/img/logo.jpg' alt='We are here!!!' />
        </footer>
    </body>
</html>